@import './assets/fonts/fonts.css';
@import './assets/bootstrap/bootstrap-theme.css';
@import './assets/bootstrap/bootstrap.css';

body {
  width: 100%;
  font-family: 'walsheimregular';
  background-color: #EBECEE;
}

.navBar{
  width: 100% auto;
  color: white;
  text-align: center;
  background-color: black;
}

#menuIcon{
  max-height: 2em;
  margin-right: 4em;
  margin-top: 2em;
}

.menu{
  z-index: 2;
  top: -20;
  left: 1.87em;
  position:absolute;
  margin-top: 2em;
  color: white;
}
.menuBtn{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  color: white;
  text-decoration: none;
  background-color: black;
}


.searchBar{
  background-color: white;
  text-align: left;
  border: solid 0.5px #E1E1E1 ;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.searchBar > #search{
  font-family:serif;
  display: inline-block;
  width: 85%;
  font-size: 1.5em;
  border-style: hidden;
}

#searchIcon{
  max-height: 2em;
  float:right;
  margin: auto;
}

.mainAlertContainer{
  border: solid 0.5px #E1E1E1 ;
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid 1px #E1E1E1;
  background-color: white;
}

.wrapper{
  text-align: center;
}

.btn-group> .selector{
  font-family:serif;
  text-align: center;
  border: solid 0.5px #E1E1E1 ;
  border-radius: 5px;
  background-color: #F9F9F9;
  min-width: 9em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn-group> .btn-pressed{
  color: #D8D8D8;
  background-color: white;

}

.alert , .editAlert{
  font-family:serif;
  font-size: 1.5em;
  border: solid 0.5px #E1E1E1 ;
}
.editAlert{
  border-style: none;
}

.editAlert> input{
  width: 70%;
}

.edit{
  font-family:sans-serif;
  margin-top: 2em;
  font-size: 0.5em;
  border-radius: 5em;
}

.edit:hover ,.menuBtn:hover{
  color: black;
  background-color: #FEE68D;
  text-decoration: none;
}
