@import './fonts/fonts.css';
@import './bootstrap/bootstrap-theme.css';
@import './bootstrap/bootstrap.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EBECEE;
}


.navBar{
  width: 100% auto;
  color: white;
  text-align: center;
  background-color: black;
  font-family: "walsheimregular";

}
.navBar> .menu {
  display: inline-block;
  float: right;
  margin-right: 2em;
  margin-top: 2em;
}

.navBar> h4{
  display: inline-block;
}

.mainAlertContainer{
  margin-top: 2em;
  margin-bottom: 2em;

  border: solid 1px #E1E1E1;
  background-color: white;
  display: inline-block;
  font-family: "walsheimregular";
}

.searchBar{
  background-color: white;
  margin-top: 2em;
  text-align: left;
}

.searchBar > .search{
  margin: auto;
  width: 90%;
  font-size: 2em;
}

.alertsSelector{
  border: solid 0.5px #E1E1E1 ;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0,0.5em,0,0.5em;
  text-align: center;
}

.alert{
  border: solid 0.5px #E1E1E1 ;
  border-spacing: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.edit{
  margin-top: 1em;
  font-size: 0.7em;
  border-radius: 5em;
}
